ansi2html==1.8.0
appnope==0.1.3
asttokens==2.4.0
backcall==0.2.0
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
comm==0.1.4
contourpy
cycler
dash== 2.7
dash-bootstrap-components
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-mantine-components==0.12.1
dash-table==5.0.0
datazets
debugpy
decorator
et-xmlfile
executing
Flask
fonttools
fuzzy-c-means
idna
importlib-metadata
importlib-resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pickle-mixin
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic==1.8.2
Pygments
pyparsing
python-dateutil
pytz
pyzmq
requests
retrying
scikit-learn
scipy
six
stack-data
tabulate
tenacity
threadpoolctl
tornado
traitlets
typer
typing-extensions
tzdata
urllib3
wcwidth
Werkzeug
zipp
gunicorn


